.footer {
    @extend %mysection;
    background: {
        color: $black_color;
    };
    &__tittle {
        @extend %tittle;
        color: $yellow_color;
    }
&__text{
    @extend %text;
}
    h3 {
        font-size: 40px;}

    &__input{ 
            @extend %text;
      }
      &__input-email {
          width: 560px;
          margin-top: 40px;
          margin-left: 20px;
        }
        &__input-submit{
            background: {color: $yellow_color};
        }
        &__input-submit, &__input-email {
            height: 50px;
        }
        
        // .container{
        // flex-direction:row;
        // justify-content:space-between;
        // align-items:center;
        // min-height:600px;

        // }
}