$yellow_color: #FCDB00;
$grey_color: #8B8A8B;
$black_color: #010101;

$font: 'PT Sans', sans-serif;

// @mixin mysection{
// padding: 77px 0;
// min-height: 740px;
// }

%mysection { 
    padding: 77px 0;
    min-height: 740px;
}

