@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
.slider, .content, .footer {
  padding: 77px 0;
  min-height: 740px; }

.slider__header, .content__tittle, .footer__tittle {
  font-size: 48px;
  margin-bottom: 22px;
  text-align: center; }

.slider__description, .content__text, .footer__text, .footer__input {
  width: 66.6667%;
  margin: 10px auto;
  text-align: center; }

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box; }

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 1.5em;
  color: #8B8A8B; }

.container {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto; }

a {
  color: #8B8A8B;
  text-decoration: none; }

.header {
  padding: 77px 0;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px; }
  .header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .header a {
    color: #010101; }

.social__items {
  display: flex;
  font-size: 24px; }
.social__item {
  list-style: none;
  margin-left: 15px; }

.slider {
  background-color: #FCDB00;
  color: #010101;
  text-align: center; }
  .slider .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 600px; }
  .slider__dots {
    list-style-type: none;
    display: flex;
    justify-content: center; }
  .slider__dot {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 5px; }
    .slider__dot:hover {
      background-color: white; }

.os__items {
  list-style-type: none;
  display: flex; }
.os__item {
  margin: 10px; }

.content__tittle {
  color: #010101; }
.content__text {
  color: #010101; }
.content__items {
  display: flex;
  justify-content: space-between;
  margin-top: 56px; }
.content__item1, .content__item3 {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center; }
.content h3 {
  color: #010101;
  margin-bottom: 20px;
  font-size: 24px; }
.content p {
  margin-bottom: 80px; }

.footer {
  background-color: #010101; }
  .footer__tittle {
    color: #FCDB00; }
  .footer h3 {
    font-size: 40px; }
  .footer__input-email {
    width: 560px;
    margin-top: 40px;
    margin-left: 20px;
    padding: 17px;
    text-align: left; }
  .footer__input-submit {
    background-color: #FCDB00;
    display: inline-block;
    width: 174px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase; }
  .footer__input-submit, .footer__input-email {
    height: 50px;
    border-radius: 3px;
    border: none; }
  .footer .container {
    display: flex;
    max-width: 1200px;
    flex-direction: column;
    align-items: center; }
  .footer .container__list {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px; }
  .footer ul {
    justify-content: space-between;
    list-style-type: none; }
  .footer p, .footer li, .footer a {
    max-width: 220px; }

/*# sourceMappingURL=style.css.map */
